In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [55]:
sns.set_style("dark")

In [56]:
movies = pd.read_csv("movies.csv")
ratings = pd.read_csv("ratings.csv")

In [57]:
movie_ratings = pd.merge(movies,ratings,on="movieId")

In [58]:
movie_ratings.drop(["timestamp","movieId","genres"],axis = 1,inplace = True)

In [59]:
movie_ratings.head()

              title  userId  rating
0  Toy Story (1995)       2     3.5
1  Toy Story (1995)       3     4.0
2  Toy Story (1995)       4     3.0
3  Toy Story (1995)       5     4.0
4  Toy Story (1995)       8     4.0

In [60]:
rate_avg = pd.DataFrame(movie_ratings.groupby("title")["rating"].mean())
rate_avg.head()

                                                      rating
title
"BLOW THE NIGHT!" Let's Spend the Night Togethe...  3.000000
"Great Performances" Cats (1998)                    2.896648
#1 Cheerleader Camp (2010)                          2.111111
#Captured (2017)                                    3.750000
#Female Pleasure (2018)                             3.666667

In [61]:
rate_avg["# of ratings"] = pd.DataFrame(movie_ratings.groupby("title")["rating"].count())

In [62]:
rate_avg.head()

                                                      rating  # of ratings
title
"BLOW THE NIGHT!" Let's Spend the Night Togethe...  3.000000             1
"Great Performances" Cats (1998)                    2.896648           179
#1 Cheerleader Camp (2010)                          2.111111             9
#Captured (2017)                                    3.750000             2
#Female Pleasure (2018)                             3.666667             3

In [63]:
adj_rate_avg = pd.DataFrame(rate_avg[rate_avg["# of ratings"]>200])

In [65]:
movie_matrix = movie_ratings.pivot_table(index = "userId", columns = "title", values = "rating")

IndexError: index 993158425 is out of bounds for axis 0 with size 993157686